#
# Copyright (c) 2019, 2021, Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
#
FROM {{baseImage}} as os_update
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"
USER root
{{#useYum}}
    RUN yum -y --downloaddir={{{tempDir}}} install unzip {{#osPackages}}{{{.}}} {{/osPackages}}\
    && yum -y --downloaddir={{{tempDir}}} clean all \
    && rm -rf /var/cache/yum/* \
    && rm -rf {{{tempDir}}}
{{/useYum}}
{{#useDnf}}
    RUN dnf -y install unzip {{#osPackages}}{{{.}}} {{/osPackages}}\
    && dnf clean all
{{/useDnf}}
{{#useMicroDnf}}
    RUN microdnf install unzip {{#osPackages}}{{{.}}} {{/osPackages}}\
    && microdnf clean all
{{/useMicroDnf}}
{{#useAptGet}}
    RUN apt-get -y update \
    && apt-get -y upgrade \
    && apt-get -y install unzip {{#osPackages}}{{{.}}} {{/osPackages}}\
    && apt-get -y clean all
{{/useAptGet}}
{{#useApk}}
    RUN apk update \
    && apk upgrade \
    && rm -rf /var/cache/apk/*
{{/useApk}}
{{#useZypper}}
    RUN zypper -nq update \
    && zypper -nq clean \
    && rm -rf /var/cache/zypp/*
{{/useZypper}}

## Create user and group
RUN if [ -z "$(getent group {{groupid}})" ]; then hash groupadd &> /dev/null && groupadd {{groupid}} || exit -1 ; fi \
 && if [ -z "$(getent passwd {{userid}})" ]; then hash useradd &> /dev/null && useradd -g {{groupid}} {{userid}} || exit -1; fi \
 && mkdir -p /{{mii_resource_root}} \
 && chown {{userid}}:{{groupid}} {{mii_resource_root}} \
 && chmod 775 /{{mii_resource_root}}

USER {{userid}}

FROM os_update as wdt_build
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

ENV WLSDEPLOY_PROPERTIES="{{{wlsdeploy_properties}}} -Djava.security.egd=file:/dev/./urandom"

COPY --chown={{userid}}:{{groupid}} {{{wdtInstaller}}} {{{tempDir}}}/

RUN mkdir -p {{{wdt_home}}} \
&& chown {{userid}}:{{groupid}} {{{wdt_home}}}

USER {{userid}}

RUN cd {{{wdt_home}}} \
&& mkdir -p {{{wdt_model_home}}}

{{#wdtModels}}
    COPY --chown={{userid}}:{{groupid}} {{{.}}} {{{wdt_model_home}}}/
{{/wdtModels}}

{{#wdtArchives}}
    COPY --chown={{userid}}:{{groupid}} {{{.}}} {{{wdt_model_home}}}/
{{/wdtArchives}}

{{#wdtVariables}}
    COPY --chown={{userid}}:{{groupid}} {{{.}}} {{{wdt_model_home}}}/
{{/wdtVariables}}

{{#beforeWdtCommand}}
    {{{.}}}
{{/beforeWdtCommand}}

RUN unzip -q {{{tempDir}}}/{{{wdtInstaller}}} -d {{{wdt_home}}}

{{#afterWdtCommand}}
    {{{.}}}
{{/afterWdtCommand}}


FROM os_update as final_build

ENV WDT_HOME={{{wdt_home}}}
ENV WDT_MODEL_HOME={{{wdt_model_home}}}

LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

RUN mkdir -p {{{wdt_model_home}}} \
&& chmod g+w {{{wdt_model_home}}}
COPY --from=wdt_build --chown={{userid}}:{{groupid}} {{wdt_home}} {{wdt_home}}/
{{#isWdtModelHomeOutsideWdtHome}}
    COPY --from=wdt_build --chown={{userid}}:{{groupid}} {{wdt_model_home}} {{wdt_model_home}}/
{{/isWdtModelHomeOutsideWdtHome}}

USER {{userid}}

#ENTRYPOINT /bin/bash

{{#finalBuildCommands}}
    {{{.}}}
{{/finalBuildCommands}}
